.WeatherDataNow {
  text-align: left;
  font-size: 14px;
  line-height: 1.2;
}
.TempNow {
  text-align: center;
  line-height: 1.5;
}
.IconNow {
  float: left;
  position: relative;
  left: 50px;
}
.TemperatureNow {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  bottom: 10px;
}
.RangeTemperatureNow {
  font-size: 20px;
}
#weatherDescription {
  font-weight: bold;
}
