.container {
  background-image: url("./white-squared-paper.png");
  max-width: 550px;
  border: dotted 2px #212121;
  border-radius: 10px;
  font-family: courier;
}
form,
.NameApp {
  margin: 5px auto;
  font-style: italic;
}
input {
  border-radius: 3px;
}
.showed-city {
  font-weight: bold;
}
